
.jumbotron {
    background-image: url(./assets/sun-beach.jpg);
    background-size: cover;
    min-height: 500px;
    background-repeat: no-repeat;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}
.searchBox{
    margin-top: 100px;
}

.form-control {
    border: 1px solid #f8c146
}

/* make only placeholder italics in input */
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

 #cityListId {
     list-style-type: none;
     border: olive 5px;
 }

 .buttonList  {
	box-shadow: 0px 1px 0px 0px;
	/* background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64; */
	border-radius:6px;
	border:1px solid #4d4b4a;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:18px;
    margin: 5px 0px;
	padding:10px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px;
}
/* .buttonList :hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.buttonList :active {
	position:relative;
	top:1px;
} */

.uvGood {
    background-color: #76d7c4;
    padding: 0px 6px 0px 3px;
}

.uvModerate {
    background-color: #f8c471;
    padding: 0px 6px 0px 3px;
}

.uvDanger{
    background-color: #EC7063;
    padding: 0px 6px 0px 3px;
}
